
.wrapper {

	width:85%;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	min-height:100%;
	height:auto;
}



.cbp-af-header {
	top:0;
	width: 100%;
	position: fixed;
	margin:0 auto;
	z-index: 999;
	height:270px;
	max-width: 85%;
	padding: 65px 100px;
	background: url('../img/tt.png');
	background-width:100%;
	background-color: #ffffff;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;

	}



.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 77em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header h1 {
	position:center;
	margin:auto;

	font-family:'Amatic SC';
}

.cbp-af-header nav {
	text-align:center;

	margin:auto;
	font-family:'Amatic SC';
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1{
	line-height: 100px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 6em;
	margin: 0;
	text-align: center;
}



.cbp-af-header nav a {
	font-weight: 700;
	margin: 0 0 0 20px;
	line-height:10px;
	text-align:center;
	position:center;

	font-size: 1.8em;
}

.cbp-af-header nav a:hover {
	color: #e3844f;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1
{	line-height: 0px;
	float:left;
}
.cbp-af-header.cbp-af-header-shrink nav a {
float:right;}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
	font-weight:bold;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {

	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {

		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1{
		font-size:20px;
				line-height: 30px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
		font-size:20px;
		width:100%;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 30px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 20px;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
display:none;	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}
