@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
body {
  background-color:#e7e7e7 !important;
}
.top {
  padding-top:280px;

}
body, html {
  height:  100%;
  margin:  0px auto;
  padding: 0px auto;
}


.jared-pic {
  content: url("../img/j.jpg");
  height: 315px;
  width: 300px;
  margin-top:40px;
 margin-right: 10px;
}

.basic {
  margin-left:50px;
}

.cont {
  margin-top:40px;
  padding-bottom:30px;
}

.cont h3 {
  margin-bottom:30px;
}

.logo {
  margin:0px 50px 0px 50px;
}
p {
  font-size:11px;
  line-height:25px;
}

.mail {
  font-family:'Amatic SC' !important;
  font-size:30px;
}
.mail img {
  margin-right:10px;
}


h3 {
  font-family:'Amatic SC' !important;
  font-size:40px !important;
  color:#4370b8 !important;
}
body {
  background-color:f !important;
}
.coursework {
  margin-left:30px;
}
